.header {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: brown;
}
.title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: 800;
    
}
.headerInfo {
    font-size: 15px;
}
.flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.row_sorting_side {
    display: flex;
    justify-content: space-between;
}

.screen {
    background-color: black;
    padding: 30px 30px;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.content {

    display: flex;
    width: inherit;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-evenly ;
}

.moviePoster {
    height: 300px;
    width: 200px;
    border-radius: 20px;

}
.movieInfo {
    height: 300px;
    width: 200px;
    margin: 20px 10px 0 10px;
    display: flex;
    position: relative;
    border: 1px solid white;
    color: white;
    
}
.movieDetail {
    color: white;
    display: flex;
    position: absolute;
    align-items: flex-start;
    background-color: beige;
    z-index: 1;
    padding: 20px;
    width: 500px;

}
.movieDetailIMG{
    height: 500px;
    width: 300px;
    margin-right: 20px;

}
.movieDetailInfo {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     align-content:space-around ;
     color: black;
}
.movieDetailInfo__title {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 20px;
}
.movieDetailInfo__genre {
    font-weight: 600;
    margin: 20px 0;
}